<html>

<head>
<title>Du Bois Gallery</title>

<!-- Connects to the slim version of JQuery through their CDN -->
<script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>

<!-- Connects to the CSS of Bootstrap through cdnjs -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Connects to the CSS -->
<link rel="stylesheet" href="www/styles.css">

<!-- JS script that connects slider input
position to the width of the foreground image -->
<script>
$(document).ready(function(){
  // .on("input change") responds to changes on the input while dragging the mouse
  // .change() only triggers once the mouse stops being dragged
  $("#slider").on("input change", (e)=>{
    const sliderPos = e.target.value;
    // Update the width of the foreground image
    $('.foreground-img').css('width', `${sliderPos}%`);
    // Update the position of the slider button
    $('#slider-button').css('left', `calc(${sliderPos}% - 18px)`);
  });
});
</script>

<!-- JS script that connects clicking on the gallery menu
to which images are shown in the container -->
<script>
$(document).ready(function(){
  // Array of urls of the original images
  const origimages = {
    y22wk09:'www/dubois/y22wk09.jpg',
    y22wk10:'www/dubois/y22wk10.jpg',
    y23wk02:'www/dubois/y23wk02.jpg',
    y23wk03:'www/dubois/y23wk03.jpg',
    y23wk04:'www/dubois/y23wk04.jpg',
    y23wk05:'www/dubois/y23wk05.jpg'
  };
  
  // Array of urls of the new images
  const newimages = {
    y22wk09:'www/new/y22wk09.png',
    y22wk10:'www/new/y22wk10.png',
    y23wk02:'www/new/y23wk02.png',
    y23wk03:'www/new/y23wk03.png',
    y23wk04:'www/new/y23wk04.png',
    y23wk05:'www/new/y23wk05.png'
  };
  
  // Gets the id's of the clicked object and uses it to search through
  // the arrays and defines the urls of the new background images
  $('#gallery').click(function(e) {
    const idimage = e.target.id;
    
    // Guarantees that the change only happens if an object that has an id is clicked
    if (idimage.length != 0) {
      $('.background-img').css('background-image', `url(${newimages[idimage]})`);
      $('.foreground-img').css('background-image', `url(${origimages[idimage]})`);
    }
  });
});
</script>

<!-- JS script that binds original and new plots
to make the tooltips -->
<script>
$(document).ready(function(){
  // Array of image id's
  const imageids = ["y22wk09", "y22wk10", "y23wk02", "y23wk03", "y23wk04", "y23wk05"];
  
  // Array of urls of the original images
  const origimages = {
    y22wk09:'www/dubois/thumb_y22wk09.jpg',
    y22wk10:'www/dubois/thumb_y22wk10.jpg',
    y23wk02:'www/dubois/thumb_y23wk02.jpg',
    y23wk03:'www/dubois/thumb_y23wk03.jpg',
    y23wk04:'www/dubois/thumb_y23wk04.jpg',
    y23wk05:'www/dubois/thumb_y23wk05.jpg'
  };
  
  // Iterates along the id's and adds the original images as tooltips
  for (let i = 0; i < imageids.length; i++) {
    const el = "#" + imageids[i];
    $(el).tooltip({
        animated: "fade",
        placement: "left",
        html: true,
        title: $("<div>").html("<img src='"+origimages[imageids[i]]+"' width='100%'>")
      })
  }
});
</script>
</head>

<body>

<!-- Container that shows the images -->
<div id='over-container'>
<div id='container'>
    <div class='img background-img'></div>
    <div class='img foreground-img'></div>
    <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
    <div id='slider-button'></div>
</div>
</div>

<!-- Gallery menu -->

<div id='gallery'><div>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y22wk09.png' class='item' id='y22wk09'>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y22wk10.png' class='item' id='y22wk10'>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y23wk02.png' class='item' id='y23wk02'>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y23wk03.png' class='item' id='y23wk03'>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y23wk04.png' class='item' id='y23wk04'>

    <svg class='tip-bg'><rect></svg>
    <img src='www/new/thumb_y23wk05.png' class='item' id='y23wk05'>

</div></div>

<!-- Connects to a bundle of Bootstrap and Popper through cdnjs -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
